.card {
  width: 18rem;
  position: relative;
}
.button-card{
    border: 0;
 padding: 20px;
}
.icon {
  position: absolute;
  right: 40px;
  bottom: 10px;
  color: #0dc6eb;
}
.icon1 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #616263;
}
.counter-span {
  position: absolute;
  right: 95px;
  bottom: 8px;
  color: #616263;
}
