.form{
   border-radius: 6px;
   margin: 20px;
  padding: 5px;
 text-align: center;
 border: 1px solid gray;

}
.form-label{
    padding: 10px;
    margin-left: 10px;
}
.form::placeholder{
    text-align: left;
}
.pl-2{
    padding-left: 15px;
}
.btn.btn-form{
    padding: 10px 40px;
    margin-bottom: 20px;
    font-size: 20px;
}